---
import Icon from "./Icon.astro";
import json from '@data/data.json';

const base = import.meta.env.BASE_URL
const { data } = json;
const properties = Object.keys(data);
---
<header class="site-header">
	<div class="site-header__start">
		<a class="site-logo" href={base}>
			CSS Triggers
		</a>
	</div>
	<div class="site-header__end">
		<a class="icon-link" href="https://github.com/Firestorm980/css-triggers">
			GitHub Repo
			<span class="icon icon-github">
				<Icon icon="github" />
			</span>
		</a>
		<button type="button" id="site-header-disclosure-button-open">
			Menu
			<span class="icon icon-menu">
				<Icon icon="menu" />
			</span>
		</button>
	</div>
	<div class="site-header__disclosure" id="site-header-disclosure">
		<div class="site-header__disclosure-header">
			<button type="button" id="site-header-disclosure-button-close">
				Close
				<span class="icon icon-clear">
					<Icon icon="clear" />
				</span>
			</button>
		</div>
		<div class="site-header__disclosure-content">
			<nav>
				<ul>
					{properties.map((property) => (
						<li>
							<a href={`#${property}`}>{property}</a>
						</li>
					))}
				</ul>
			</nav>
		</div>
	</div>
</header>
<style>
	.site-header {
		--header-height: 4.5rem;

		align-items: center;
		background-color: var(--color-white);
		box-shadow: 0 0 0.5em rgb(0 0 0 / 20%);
		display: flex;
		height: var(--header-height);
		justify-content: space-between;
		left: 0;
		overflow-inline: hidden;
		padding: 1rem;
		position: sticky;
		top: 0;
		width: 100%;
	}

	.site-header__end {
		align-items: center;
		display: flex;
		gap: 1em;
	}

	.site-logo {
		background-clip: text;
		background-color: var(--color-black);
		background-image: linear-gradient(to right, var(--color-purple) 0%, var(--color-olive) 50%, var(--color-green) 100%);
		color: transparent;
		font-size: 1.75em;
		font-weight: 700;
		text-decoration: none;
	}

	.site-header__disclosure {
		align-items: flex-end;
		background-color: var(--color-white);
		box-shadow: 0 0 0.5em rgb(0 0 0 / 20%);
		display: flex;
		flex-direction: column;
		height: 100dvh;
		position: fixed;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.25s ease-in-out;

		&[data-open="true"] {
			transform: translateX(0);
		}
	}

	.site-header__disclosure-header {
		height: var(--header-height);
		padding: 1rem;
	}

	.site-header__disclosure-content {
		border-block-start: 1px solid var(--color-silver);
		height: 100%;
		overflow: auto;
		padding: 2rem;
	}

	.icon {
		display: flex;
		font-size: 1.5em;
	}

	.icon-link {
		align-items: center;
		color: var(--color-black);
		display: inline-flex;
		font-weight: 700;
		gap: 0.5em;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: transparent;
			color: var(--color-purple);
		}
	}

	button {
		align-items: center;
		background-color: var(--color-black);
		border: 0;
		border-radius: 0.25em;
		color: var(--color-white);
		display: inline-flex;
		font-weight: 700;
		gap: 0.25em;
		line-height: 1;
		padding: 0.5em 1em;
		transition-duration: 0.25s;
		vertical-align: middle;

		&:hover,
		&:focus {
			background-color: var(--color-purple);
		}
	}

	nav {

		& ul {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
</style>
<script>
	const disclosure = document.getElementById('site-header-disclosure');
	const disclosureButtonOpen = document.getElementById('site-header-disclosure-button-open');
	const disclosureButtonClose = document.getElementById('site-header-disclosure-button-close');

	const open = (isKeyboard = false) => {
		disclosure.setAttribute('aria-hidden', 'false');
		disclosure.setAttribute('data-open', 'true');
		disclosureButtonOpen.setAttribute('aria-expanded', 'true');
		disclosureButtonClose.setAttribute('aria-expanded', 'true');

		if (isKeyboard) {
			disclosureButtonClose.focus();
		}
	};

	const close = (isKeyboard = false) => {
		disclosure.setAttribute('aria-hidden', 'true');
		disclosure.setAttribute('data-open', 'false');
		disclosureButtonOpen.setAttribute('aria-expanded', 'false');
		disclosureButtonClose.setAttribute('aria-expanded', 'false');

		if (isKeyboard) {
			disclosureButtonOpen.focus();
		}
	};

	const handleOpenButtonOnClick = (event) => {
		const isKeyboard = event.detail === 0;

		open(isKeyboard);
	};

	const handleCloseButtonOnClick = (event) => {
		const isKeyboard = event.detail === 0;

		close(isKeyboard);
	};

	const handleDisclosureOnKeyDown = (event) => {
		const isEscape = event.key === 'Escape';
		const isTab = event.key === 'Tab';
		const isShift = event.shiftKey;

		if (isEscape) {
			close(true);
			return;
		}

		const { activeElement } = document;
		const focusableElements = disclosure.querySelectorAll('button, [href]');
		const { [0]: firstFocusableElement, [focusableElements.length - 1]: lastFocusableElement } = focusableElements;

		if (isTab && isShift && activeElement === firstFocusableElement) {
			event.preventDefault();
			(lastFocusableElement as HTMLElement).focus();
			return;
		}

		if (isTab && !isShift && activeElement === lastFocusableElement) {
			event.preventDefault();
			(firstFocusableElement as HTMLElement).focus();
			return;
		}
	};

	const setup = () => {
		close(false);

		disclosureButtonOpen.setAttribute('aria-controls', disclosure.id);
		disclosureButtonClose.setAttribute('aria-controls', disclosure.id);
	};

	const bind = () => {
		disclosure.addEventListener('keydown', handleDisclosureOnKeyDown);
		disclosureButtonOpen.addEventListener('click', handleOpenButtonOnClick);
		disclosureButtonClose.addEventListener('click', handleCloseButtonOnClick);
	};

	setup();
	bind();
</script>
