---
const { properties } = Astro.props;
---
<button type="button" id="properties-navigation-button">
	Quick Navigation
</button>
<div id="properties-navigation-wrapper" class="properties__navigation-wrapper">
	<nav aria-label="Properties" class="properties__navigation">
		<ul>
			{properties.map((property) => {
				return (<li><a href={`#${property}`}>{property}</a></li>);
			})}
		</ul>
	</nav>
</div>
<script>
const button = document.getElementById('properties-navigation-button');
const wrapper = document.getElementById('properties-navigation-wrapper');

const handleButtonOnClick = () => {
	const isOpen = 'true' === button.getAttribute('aria-expanded');

	if (isOpen) {
		button.setAttribute('aria-expanded', 'false');
		wrapper.setAttribute('aria-hidden', 'true');
	} else {
		button.setAttribute('aria-expanded', 'true');
		wrapper.setAttribute('aria-hidden', 'false');
	}
};

// Setup
button.setAttribute('aria-expanded', 'false');
button.setAttribute('aria-controls', 'properties-navigation-wrapper');
wrapper.setAttribute('aria-hidden', 'true');

// Bind
button.addEventListener('click', handleButtonOnClick);
</script>
<style>
.properties__navigation-wrapper {

	&[aria-hidden="true"] {
		display: none;
	}
}

.properties__navigation {

	& ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		list-style: none;
		padding: 0;
	}
}
</style>
