---
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SVGDefs from '@components/SVGDefs.astro';
import Sidebar from '@components/Sidebar.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<Head title={title} />
<body>
	<SVGDefs />
	<div class="site">
		<Header />
		<Sidebar />
		<main id="content" role="main" tabindex="-1" class="site-main">
			<div class="site-main__inner">
				<slot />
			</div>
		</main>
		<Footer />
	</div>
</body>
</html>
<style is:global>
	@import url('@assets/index.css');

	.site {
		display: grid;
		grid-template-areas:
			"header-top header-top"
			"header-sidebar content"
		;
		grid-template-columns: var(--site-sidebar-width) 1fr;

		@media (width <= 42em) {
			grid-template-columns: 0 1fr;
		}
	}

	.site-main {
		grid-area: content;
	}

	.site-main__inner {
		display: flex;
		flex-direction: column;
		gap: 2em;
		padding: 2em var(--spacing-default);
	}
</style>
